<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<header th:fragment="menuFragment">
    <nav class="navbar navbar-expand-sm navbar-light">
        <button button type="submit" class="navbar-toggler" data-toggle="collapse"
                data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <strong>
                        <a class="nav-link" th:href="@{/home}">Главная страница</a>
                    </strong>
                </li>
            </ul>
        </div>
        <div class="navbar-nav">
            <div class="my-2 mx-2">
                <a class="btn btn-light my-2 my-sm-0" th:href="@{/login}">Войти</a>
            </div>
        </div>
        <div class="navbar-nav">
            <div class="my-2 mx-2">
                <a class="btn btn-dark my-2 my-sm-0" th:href="@{/registration}">Зарегистрироваться</a>
            </div>
        </div>
    </nav>
</header>
</html>